<div class="absolute bottom-0 right-0">
  <div *ngFor="let car of cars">
    <span>
      <img src="{{ car.img }}">
    </span>
  </div>
</div>
<div [style.top]="car.y+'px'" [style.left]="car.x+'px'" class="absolute" *ngFor="let car of rollCars">
  <img [ngClass]="'rotate-'+car.rotation" class="transform" src="{{ car.img }}">
</div>
<div [style.top]="car.y+'px'" [style.left]="car.x+'px'" class="absolute transform" [ngClass]="'rotate-'+car.rotation" *ngFor="let car of rollCars">
  <div [style.width]="car.width+'px'" [style.height]="car.height+'px'" class="border-2 transform" ></div>
</div>
