<app-need-party *ngIf="!wsService.id"></app-need-party>
<app-car></app-car>
<div class="flex h-full">
  <div class="flex flex-col w-1/6 px-2">
    <div *ngIf="!wsService.id">
      <select [(ngModel)]="type" id="countries" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Choose your type</option>
        <option value="SENDER">Sender</option>
        <option value="ROUTER">Router</option>
      </select>
      <button  (click)="wsService.newGame(type)" type="button" class="btn-primary">NEW GAME</button>
    </div>
    <div>
      <input type="text" id="simple-search" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ID GAME" required>
      <button type="button" class="btn-primary">JOIN</button>
    </div>
    <div>
      <app-message></app-message>
    </div>
  </div>
  <div class="w-5/6">
    <div class="flex flex-col bg-gray-300 w-96 h-[25rem]">
      <div class="flex ">
        <div class="bg-green-400 w-44 h-44 mr-6 rounded-br-xl mb-6">
          <div class="flex justify-end items-end">
            <app-direction></app-direction>
          </div>
          <div class="flex justify-end items-end">
            <app-traffic-light [number]="1" [state]="'red'" (traffic)="setTrafficEvent($event)" ></app-traffic-light>
          </div>
        </div>
        <div class="border-2 border-white border-dashed"></div>
        <div class="bg-green-400 w-44 h-44 rounded-bl-xl ml-6 mb-6">
          <div class="flex justify-end items-end">
            <app-direction [direction]="'top'"></app-direction>
          </div>
          <div class="flex">
            <app-traffic-light class="rotate-90" [number]="2" [state]="'red'" (traffic)="setTrafficEvent($event)"></app-traffic-light>
          </div>
        </div>
      </div>
      <div class="border-2 border-white border-dashed"></div>
      <div class="flex">
        <div class="bg-green-400 w-44 h-44 mr-6 rounded-tr-xl mt-6 p-2 flex flex-col justify-between items-end">
          <div>
            <app-traffic-light class="rotate-90" [number]="3" [state]="'red'" (traffic)="setTrafficEvent($event)"></app-traffic-light>
          </div>
          <div>
            <app-direction class="rotate-90"></app-direction>
          </div>
        </div>
        <div class="border-2 border-white border-dashed"></div>
        <div class="bg-green-400 w-44 h-44 rounded-tl-xl ml-6 mt-6 p-2 flex justify-between">
          <div>
            <app-traffic-light [number]="4" [state]="'red'" (traffic)="setTrafficEvent($event)"></app-traffic-light>
          </div>
          <div>
            <app-direction class="rotate-90"></app-direction>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
