<app-need-party></app-need-party>
<div class="flex h-full">
  <div class="flex flex-col w-1/6 px-2">
    <div class="">
      <select [(ngModel)]="type" id="countries" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Choose your type</option>
        <option value="SENDER">Sender</option>
        <option value="ROUTER">Router</option>
      </select>
      <button (click)="newGame()" type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">NEW GAME</button>
    </div>
    <div>
      <input type="text" id="simple-search" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ID GAME" required>
      <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">REJOIN</button>
    </div>
  </div>
  <div class="w-5/6">
    <div class="flex flex-col bg-gray-300 w-96 h-96">
      <div class="flex ">
        <div class="bg-green-400 w-40 h-40 mr-6 rounded-br-xl mb-6">
          <div class="flex justify-end items-end">
            <app-traffic-light [number]="1" [state]="'red'" (traffic)="setTrafficEvent($event)" ></app-traffic-light>
          </div>
        </div>
        <div class="border-2 border-white border-dashed"></div>
        <div class="bg-green-400 w-40 h-40 rounded-bl-xl ml-6 mb-6">
          <div class="flex justify-end items-end">
            <app-traffic-light></app-traffic-light>
          </div>
        </div>
      </div>
      <div class="border-2 border-white border-dashed"></div>
      <div class="flex">
        <div class="bg-green-400 w-40 h-40 mr-6 rounded-tr-xl mt-6">
          <div class="flex justify-end items-end">
            <app-traffic-light></app-traffic-light>
          </div>
        </div>
        <div class="border-2 border-white border-dashed"></div>
        <div class="bg-green-400 w-40 h-40 rounded-tl-xl ml-6 mt-6">
          <div class="flex items-end">
            <app-traffic-light></app-traffic-light>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
